.App {
  text-align: center;
  /* background-color: lightpink; */
  /* min-height: 100vh; */
  /* display: flex;
  /* align-items: stretch; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: black;
  animation-name: changeBackground;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.container {
  display: flex;
  /* align-items: stretch; */
  justify-content: center;
}

 @keyframes spin {
  from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
 }

.card {
  background-color: white;
  margin: 10px;
  height: 160px;
  width: 220px;
  border-radius: 3px;
}

.setCard {
  /* background-color: #c9fdc9; */
  background-color: #e5fbe5;
  margin: 10px;
  height: 60px;
  width: 75px;
  border-radius: 3px;
}

/* .spinningCard:hover {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
} */

.card:hover {
  background-color: #f2f2f2;
}

.selectedCard {
  background-color: white;
  margin: 10px;
  height: 160px;
  width: 220px;
  border-radius: 3px;
  /* background-color: #c9fdc9; */
  background-color: #e5fbe5;
  /* opacity: .5; */
}

.cardContainer {
  display: grid;
  grid-template-columns: minmax(auto, 1000px);
  justify-content: center;
  align-items: center;
  /* border-style: solid; */
  background-image: url("https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  min-height: 70vh;
  border-radius: 3px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-style: solid; */
  max-width: 1000px;
}

button {
  min-width: 60px;
  height: 30px;
  font-size: 14px;
  border-radius: 3px;
  margin: 15px;
  font-family: 'Roboto', sans-serif;
}

button:hover {
  background-color: #f2f2f2;

}

#checkButton:hover {
  /* background-color: #c9fdc9; */

}

#checkButton {
  font-size: 22px;
  height: 40px;
}

#stopButton:hover {
  /* background-color: lightpink; */
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  font-family: 'Roboto Mono', monospace;
}

p {
  margin: 20px;
}

#setTab {
  padding: 20px;
  max-width: 250px;
  /* border-style: solid; */
  display: flex;
  flex-direction:column;
  align-items: center;
}

#setList {
  /* border-style: solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
