.App {
  text-align: center;
  color: black;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.left-components {
  display: flex;
  flex-direction: column;
  align-items: center;
}


 @keyframes disappear {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
 100% {opacity: 0;}
}

.card {
  background-color: white;
  margin: 15px;
  height: 160px;
  width: 220px;
  border-radius: 3px;
}

.set-card {
  margin: 10px;
  height: 60px;
  width: 75px;
  border-radius: 3px;
  box-shadow: 5px 5px 30px -2px rgba(0,0,0,0.75);
}

.card:hover {
  box-shadow: 5px 5px 30px -2px rgba(0,0,0,0.75);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: minmax(auto, 1100px); */
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background-image: url("http://www.theventurecorner.com/vision/Oak-Wood-Floor-Texture.jpg");
  min-height: 70vh;
  border-radius: 3px;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
}

span {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: white;
  padding: 20px;
}

span:hover {
  font-weight: bold;
}

.play-button {
  font-size: 30px;
  padding: 50px;
}

#check-button {
  font-size: 22px;
  height: 40px;
}

.button-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  color: white;
}

h3 {
  font-family: 'Roboto Mono', monospace;
}

p {
  margin: 20px;
}

#set-tab {
  padding: 30px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#set-list {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #f2f2f2;
  background: rgba(242, 242, 242, .7);
  animation-name: disappear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

.modal-box {
  position: fixed;
  top: 150px;
  left: 350px;
  right: 350px;
  bottom: 400px;
  background: rgba(0, 0, 0, 1);
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: disappear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

i {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}

.selected-card {
  background-color: white;
  z-index: -1;
  border-radius: 3px;
  box-shadow: 10px 10px 23px -2px rgba(0,0,0,0.75);
}

.selected-card-container {
  position: relative;
  height: 160px;
  width: 220px;
  border-radius: 3px;
  margin: 15px;
  box-shadow: 10px 10px 23px -2px rgba(0,0,0,0.75);
}

.rules-and-timer-wrapper {
  display: flex;
  align-items: center;
}

.clock {
  font-size: 20px;
  border-radius: 50%;
  border: solid 1px;
  width: 50px;
  height: 50px;
  padding: 20px;
  margin: 20px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #f2f2f2;
  background: rgba(242, 242, 242, .7);
}

.demo-modal-box {
  padding: 3%;
  position: fixed;
   top: 15%;
   left: 15%;
  right: 15%;
  bottom: 15%;
  background: rgba(0, 0, 0, 1);
  color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.demo-image {
  max-width: 600px;
  margin: 20px;
}
