.App {
  text-align: center;
  background-color: lightpink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  animation-name: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {background-color: lightpink;}
  to {background-color: lightblue;}
}

.card {
  background-color: gray;
}
